@{
  Layout = "_Layout";
}

  <div class="container">
    <h1>Favorite Traveling Photos</h1>
    <ul>
      <li><img src='~/img/colorful_bird.jpeg'/></li>
      <li><img src='~/img/horses_in_now.jpeg'/></li>
      <li><img src='~/img/Water_color.jpeg'/></li>
    </ul>
  </div>